# MAC OS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Jetbrains
.idea/*
**/.idea/workspace.xml

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

node_modules
docs
npm-debug.log
